*{
  color: whitesmoke;
}

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: papayawhip;
}

#background{
  height:100%;
}

.name-input{
  color:black; 
}

ul{
  padding: 0;
  list-style:none;
  padding: 1rem 1rem 0 0;
  margin: 0;
}

#weather{
  padding: 12px 20px 0 0 ;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.main-contents{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align:top;
  justify-content: center;
  margin: auto 0;
}

.focus-checkbox {
  width:1.4rem;
  height: 1.4rem;
  vertical-align:baseline;
  position:relative;
  top:1px;
  margin-right:1rem;
}

.checkbox-label{
  cursor:pointer;
}

.btn-outline-light{
  height:1px;
  vertical-align: middle;
}

.sub-contents{
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 20px;
  width:100%;
}

.inputForm{
  display: inline-block;
}

#time{
  font-size: 7rem;
  font-weight: 1000;
}

#good{
  font-size: 3rem;

}

.today
,.focus{
  font-size: 2rem;
}

.
p{
  margin:1rem;
}

.todayFrom{
  cursor:pointer;
}

.todayForm input{
  min-width: 100%;
  background-color: transparent;
  border: transparent;
  border-bottom: 1.5px solid whitesmoke;
  font-size: 2rem;
  text-align: center;
}

.todayForm input:focus{
  outline: none;
}

#script-today{
  text-align: center;
  font-size: 1.2rem;
}

#settings{
  background-color:transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

#settings i{
  color: rgba(245, 245, 245, 0.75);
}

#settings i:hover{
  color: whitesmoke;
}

#todo-btn{
  background-color: transparent;
  border:none;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(245, 245, 245, 0.75);
  margin-right:1rem;;
}

#todo-btn:hover{
  color:whitesmoke;
  cursor: pointer;
}

#todo-btn:focus{
  color: whitesmoke;
}

.lists{
  display: none;
}

.hidden-wrapper{
  display:none;
}

#quotes em,p{
  color:rgba(245, 245, 245, 0.75)
}

#quotes em:hover
, p:hover{
  color:whitesmoke
}